---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio de Nukedev | Java & Web Developer "
  description="Contrata a Nukedev para crear tu pagína web personal o empresarial."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-32 mb-4"
        src="https://github.com/Nukeddev/Nukeddev/assets/109694252/776140b3-047f-416e-94c0-5b6d5f11d509"
        alt="Nukedev photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Nukedev <a
          href="https://www.linkedin.com/in/nukedev"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-pretty max-w-[700px]">
        <span class="text-green-200">Java and Web Developer</span>. Estudiante
        de Ingeniería de Sistemas de Colombia. Apasionado por la <span
          class="text-green-200"
          >tecnología
        </span>y el <span class="text-green-200">desarrollo</span> en general.
      </h2>

      <nav class="flex gap-4 mt-4 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/nukedev">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/nukeddev">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:spulidolozano@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          spulidolozano@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
