---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "",
    title: "Freelancer",
    company: "Actualmente",
    description:
      "Actualmente trabajo como Freelance, ayudando a clientes con sus proyectos de Desarrollo Web, optimización, diseño y mejoras de interfaz.",
  },
  {
    date: "Octubre 2024",
    title: "Front-end Developer",
    company: "Caribe Dev",
    description:
      "Encargado del Desarrollo de la página de Caribe Dev, como también de su optimización para una mejor interaccíon con el usuario.",
    link: "https://caribedev.org/",
  },
  {
    date: "Junio 2024 - Actualidad",
    title: "Webmaster",
    company: "IEEE CIS Unisimon",
    description:
      "Encargado de la página web del capítulo estudiantil IEEE CIS Unisimon, como también de la optimizacion de la misma, publicaciones de eventos, noticias y demás.",
    link: "https://cis.ieee.org/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
