---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "",
    title: "Freelancer",
    company: "Actualmente",
    description:
      "Actualmente trabajo como Freelance, ayudando a clientes con sus proyectos de Desarrollo Web.",
  },
  {
    date: "Octubre 2024",
    title: "Front-end Developer",
    company: "Caribe Dev",
    description:
      "Fui parte del equipo encargado del Desarrollo de la página de HacktoberFest así como también de su optimización y mejora para una mejor interaccíon con el usuario.",
    link: "https://caribedev.org/",
  },
  {
    date: "Junio 2024 - Actualidad",
    title: "Webmaster",
    company: "IEEE CIS Unisimon",
    description:
      "Encargado de la página web de la rama estudiantil IEEE CIS Unisimon, así tambien como la optimizacion de la misma, publicaciones de eventos, noticias y demás.",
    link: "https://cis.ieee.org/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
